* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background: #000;
    color: #fff;
}

header h1 {
    font-size: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 68vh;
}

.container h2 {
    font-size: 40px;
    font-weight: bold;
}

#customButton, #uploadButton {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

footer{
    padding: 5px;
    width: 100%;
    height: auto;
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
